/* ================================
   GAME
================================ */
.game {
    position: relative;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

/* ================================
   SCENE / BACKGROUND
================================ */
.scene {
    flex: 1;
    position: relative;
    overflow: hidden;

    background: url("../assets/backgrounds/forest3.png")
        center / cover no-repeat;
}

/* ================================
   GAME TITLE
================================ */
.game-title {
    position: fixed;
    top: 14px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;

    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 900;

    color: #8fd3ff;
    text-shadow:
        0 0 6px rgba(80,160,255,0.5),
        0 0 14px rgba(40,120,220,0.4);
}
